/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Poppins:wght@500;700&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    margin-left: 120px;
}
/* nav styles */
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
}

/* influencer products styles */

.container{
    display: flex;
}
.header{
    font-size: 52px;
    margin-bottom: 16px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 400px;
}
.link-button{
    text-decoration: none;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
}